@model List<MotoristaModel>
@{
    ViewData["Title"] = "Listagem de Motoristas Cadastrados";
}

<div class="text-center">

<div class="d-grid gap-2 d-d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Motorista" asp-action="Criar">Cadastrar Motorista</a> 
</div>

<h1 class="display-9">Lista de Cadastros</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Marca do Caminhão</th>
            <th scope="col">Modelo do Caminhão</th>
            <th scope="col">Placa do Caminhão</th>
            <th scope="col">Quantidade de eixos do Caminhão</th>
            <th scope="col">Endereço completo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach(MotoristaModel motorista in Model)
            {
                <tr>
                    <th scope="row">@motorista.Id</th>
                    <td>@motorista.Nome</td>
                    <td>@motorista.Sobrenome</td>
                    <td>@motorista.MarcaDoCaminhao</td>
                    <td>@motorista.ModeloDoCaminhao</td>
                    <td>@motorista.PlacaDoCaminhao</td>
                    <td>@motorista.QuantidadeDeEixosDoCaminhao</td>
                    <td>@motorista.EnderecoCompleto</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-route-id="@motorista.Id" asp-controller="Motorista" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@motorista.Id" asp-controller="Motorista" asp-action="Excluir">Deletar</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

</div>

